<nav class="dot-nav">
    <button class="hamburger-menu" aria-label="Toggle navigation menu">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <div class="nav-content">
      <a class="dot-nav-item" data-label="Home" href="/"></a>

      <a class="dot-nav-item" data-label="Reality" href="/content/reality.html"></a>
      <a class="dot-nav-item" data-label="Scarcity" href="/content/scarcity.html"></a>
      <a class="dot-nav-item" data-label="Exchange: The Language Of Scarcity" href="/content/the-language-of-scarcity.html"></a>
      <a class="dot-nav-item" data-label="Money Is Interopability" href="/content/money-is-interopability.html"></a>
      <a class="dot-nav-item" data-label="Money Is Energy" href="/content/money-is-energy.html"></a>
      <a class="dot-nav-item" data-label="Properties Of Money" href="/content/properties-of-money.html"></a>
      <a class="dot-nav-item" data-label="The Evolution Of Interopability" href="/content/evolution-of-interopability.html"></a>
      <a class="dot-nav-item" data-label="The Universal Coincidence" href="/content/the-universal-coincidence.html"></a>
      <a class="dot-nav-item" data-label="The Arrow Of Time" href="/content/the-arrow-of-time.html"></a>
      <a class="dot-nav-item" data-label="Legacy Money" href="/content/legacy-money.html"></a>
      <a class="dot-nav-item" data-label="Flaws Of Modern Finance" href="/content/flaws-of-modern-finance.html"></a>
      <a class="dot-nav-item" data-label="Inflation Is A Problem" href="/content/inflation-is-a-problem.html"></a>
      <a class="dot-nav-item" data-label="Trust Is A Problem" href="/content/trust-is-a-problem.html"></a>
      <a class="dot-nav-item" data-label="Broken Money" href="/content/broken-money.html"></a>
      <a class="dot-nav-item" data-label="Decay" href="/content/decay.html"></a>
      <a class="dot-nav-item" data-label="Perfect Storage" href="/content/perfect-storage.html"></a>
      <a class="dot-nav-item" data-label="Properties Of Truth" href="/content/properties-of-truth.html"></a>
      <a class="dot-nav-item" data-label="Bitcoin Is The First Engineered Money" href="/content/bitcoin-is-the-first-engineered-money.html"></a>
      <a class="dot-nav-item" data-label="How Bitcoin Works" href="/content/how-bitcoin-works.html"></a>
      <a class="dot-nav-item" data-label="Bitcoin Is Mathematical Truth" href="/content/bitcoin-is-mathematical-truth.html"></a>
      <a class="dot-nav-item" data-label="The Discovery" href="/content/the-discovery.html"></a>
      <a class="dot-nav-item" data-label="Bitcoin's Immaculate Conception" href="/content/bitcoins-immaculate-conception.html"></a>
      <a class="dot-nav-item" data-label="The Emergent Hyperspace" href="/content/the-emergent-hyperspace.html"></a>
      <a class="dot-nav-item" data-label="Bitcoin Is Sound Money" href="/content/bitcoin-is-sound-money.html"></a>
      <a class="dot-nav-item" data-label="Bitcoin Is Indestructible" href="/content/bitcoin-is-indestructible.html"></a>
      <a class="dot-nav-item" data-label="Bitcoin is Portable" href="/content/bitcoin-is-portable.html"></a>
      <a class="dot-nav-item" data-label="Bitcoin is Divisible" href="/content/bitcoin-is-divisible.html"></a>
      <a class="dot-nav-item" data-label="Bitcoin is Fungible" href="/content/bitcoin-is-fungible.html"></a>
      <a class="dot-nav-item" data-label="Bitcoin is Transparent" href="/content/bitcoin-is-transparent.html"></a>
      <a class="dot-nav-item" data-label="Bitcoin is Verifiable" href="/content/bitcoin-is-verifiable.html"></a>
      <a class="dot-nav-item" data-label="Bitcoin is Scarce" href="/content/bitcoin-is-scarce.html"></a>
      <a class="dot-nav-item" data-label="Bitcoin is Impartial" href="/content/bitcoin-is-impartial.html"></a>
      <a class="dot-nav-item" data-label="Bitcoin is Immutable" href="/content/bitcoin-is-immutable.html"></a>
      <a class="dot-nav-item" data-label="Bitcoin is Transferable" href="/content/bitcoin-is-transferable.html"></a>
      <a class="dot-nav-item" data-label="Bitcoin is Weightless" href="/content/bitcoin-is-weightless.html"></a>
      <a class="dot-nav-item" data-label="Bitcoin Is Pure" href="/content/bitcoin-is-pure.html"></a>
      <a class="dot-nav-item" data-label="Bitcoin Is Orthogonal" href="/content/bitcoin-is-orthogonal.html"></a>
      <a class="dot-nav-item" data-label="Bitcoin Is An Exit" href="/content/bitcoin-is-an-exit.html"></a>
      <a class="dot-nav-item" data-label="The Myth Of Intrinsic Value" href="/content/the-myth-of-intrinsic-value.html"></a>
      <a class="dot-nav-item" data-label="Sublime Uselnessness" href="/content/sublime-uselessness.html"></a>
      <a class="dot-nav-item" data-label="The Distortion Of Utility Assets" href="/content/the-distortion-of-utility-assets.html"></a>
      <a class="dot-nav-item" data-label="Deflation: The Natural Order" href="/content/deflation-the-natural-order.html"></a>
      <a class="dot-nav-item" data-label="Dematerialization" href="/content/dematerialization.html"></a>
      <a class="dot-nav-item" data-label="Bitcoin Simplifies Reality" href="/content/bitcoin-simplifies-reality.html"></a>
      <a class="dot-nav-item" data-label="Bitcoin Extends Time Preference" href="/content/bitcoin-extends-time-preference.html"></a>
      <a class="dot-nav-item" data-label="Bitcoin Enables Intentionality" href="/content/bitcoin-enables-intentionality.html"></a>
      <a class="dot-nav-item" data-label="Bitcoin Enables Optimism" href="/content/bitcoin-enables-optimism.html"></a>
      <a class="dot-nav-item" data-label="Bitcoin Is Non-Violence" href="/content/bitcoin-is-non-violence.html"></a>
      <a class="dot-nav-item" data-label="Bitcoin Is Good For The World" href="/content/bitcoin-is-good-for-the-world.html"></a>
      <a class="dot-nav-item" data-label="Bitcoin Is Final" href="/content/bitcoin-is-final.html"></a>
      <a class="dot-nav-item" data-label="Bitcoin Is The Universal Reserve Asset" href="/content/bitcoin-is-the-universal-reserve-asset.html"></a>
      <a class="dot-nav-item" data-label="Bitcoin Is The Money Of The Internet" href="/content/bitcoin-is-the-money-of-the-internet.html"></a>
      <a class="dot-nav-item" data-label="Bitcoin Is The Currency Of Intelligence" href="/content/bitcoin-is-the-currency-of-intelligence.html"></a>
      <a class="dot-nav-item" data-label="Bitcoin Is A Source Of Truth" href="/content/bitcoin-is-a-source-of-truth.html"></a>
      <a class="dot-nav-item" data-label="Bitcoin Is Cosmically Rare" href="/content/bitcoin-is-cosmically-rare.html"></a>
      <a class="dot-nav-item" data-label="Bitcoin Is A Great Filter" href="/content/bitcoin-is-a-great-filter.html"></a>
      <a class="dot-nav-item" data-label="Game Theory" href="/content/game-theory.html"></a>
      <a class="dot-nav-item" data-label="Projections" href="/content/projections.html"></a>
      <a class="dot-nav-item" data-label="Bitcoin Per Person" href="/content/bitcoin-per-person.html"></a>
      <a class="dot-nav-item" data-label="Reflect On Yourself" href="/content/reflect-on-yourself.html"></a>
      <a class="dot-nav-item" data-label="What Are The Alternatives?" href="/content/what-are-the-alternatives.html"></a>
      <a class="dot-nav-item" data-label="There is No Second Best" href="/content/there-is-no-second-best.html"></a>
      <a class="dot-nav-item" data-label="Bitcoin Is Resilient" href="/content/bitcoin-is-resilient.html"></a>
      <a class="dot-nav-item" data-label="Volatility" href="/content/volatility.html"></a>
      <a class="dot-nav-item" data-label="Everything Against Bitcoin Is Going To Zero" href="/content/everything-against-bitcoin-is-going-to-zero.html"></a>
      <a class="dot-nav-item" data-label="The Struggle of The Individual Vs. The Collective" href="/content/the-struggle-of-the-individual.html"></a>
      <a class="dot-nav-item" data-label="FAQ" href="/content/faq.html"></a>

    </div>
  </nav>