

      <a class="dot-nav-item" data-label="Bitcoin Is A Bet On Success" href="/content/bitcoin-is-a-bet-on-success.html"></a>

      <a class="dot-nav-item" data-label="Bitcoin Is Meritocratic" href="/content/bitcoin-is-meritocratic.html"></a>
      <a class="dot-nav-item" data-label="Bitcoin Is Decentralized" href="/content/bitcoin-is-decentralized.html"></a>
      <a class="dot-nav-item" data-label="Bitcoin Is A Bet On Rationality" href="/content/bitcoin-is-a-bet-on-rationality.html"></a>
      <a class="dot-nav-item" data-label="Bitcoin Is True Ownership" href="/content/bitcoin-is-true-ownership.html"></a>
      -enables property rights for billions of people
      -bitcoin is property rights in cyberspace
      <a class="dot-nav-item" data-label="Bitcoin Gets Better" href="/content/bitcoin-gets-better.html"></a>
      <a class="dot-nav-item" data-label="Bitcoin Is Open-Source" href="/content/bitcoin-is-open-source.html"></a>
      <a class="dot-nav-item" data-label="Bitcoin Is Trustless" href="/content/bitcoin-is-trustless.html"></a>
      <a class="dot-nav-item" data-label="Bitcoin Is Backed By Electricity" href="/content/bitcoin-is-backed-by-electricity.html"></a>
      <a class="dot-nav-item" data-label="Bitcoin Is Non-Violence" href="/content/bitcoin-is-non-violence.html"></a>

      <a class="dot-nav-item" data-label="Proof Of Work" href="/content/proof-of-work.html"></a> - talk about the virtues of proof of work. the cultivation. the energy. the work. attention needed. music is proof of work, etc. proof of work as a philosophy. 

    </div>
  </nav>